@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn big-ass-button animate-fast" })   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What we do</h2>
        <p>Everyone hates long bar lines. They reduce attendee satisfaction and impact bar revenue.</p>
        <p>FastBar solves the problem of long bar lines for special events with a simple, cashless, high-speed payment solution that improves attendee satisfaction, and increases bar revenue.</p>        
    </div>
    <div class="col-md-4">
        <h2>Is this secure?</h2>
        <p>FastBar is more secure than using cash or credit card.</p>
        <p>If you lose cash, it's gone forever. If you lose your credit card, you're now spending hours of your time cancelling your card, getting a new one and re-linking it to all of the websites you use and automatic bills you have linked to it.</p>
        <p>Your FastBar wristband won't fall off but if you did lose it, just go back to the registration station at the event, we’ll cancel the old one and give you a new one.</p>
    </div>
    <div class="col-md-4">
        <h2>What's the cost?</h2>
        <p>FastBar is free for you, the attendee.</p>        
    </div>
</div>